# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller build files
build/
dist/
*.spec

# Windows thumbnail cache
Thumbs.db
.DS_Store

# Virtual environment
.env/
.venv/

# IDE / Editor
.vscode/
.idea/

# Executable files
*.exe
